/* Tablet && Mobile */

@media (max-width: 1023px) {
    .menu {
        display: none;
    }
    header .logo {
        width: 75%;
    }
    header .logo a {
        font-size: 17px;
        text-indent: 15px;
        display: block;
    }
    .slider__item {
        height: auto;
    }
    .slider__item h2 {
        top: 50px;
        left: 20px;
        letter-spacing: 1.5px;
        font-size: 18px;
    }
    .slider__item h2 small {
        letter-spacing: 1px;
    }
    .best-seller {
        margin-top: 40px;
    }
    .product__list .product__item {
        width: 50%;
        margin-top: 10px;
    }
    .product__list .introduce {
        width: 100%;
        align-items: center;
    }
    .product__list .product__item p {
        max-width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }
    .product__list {
        margin-left: 10px;
    }

    .product__item img {
        max-width: 95%;
    }
    .shipping {
        padding: 30px 0 0 0;
        margin-top: 50px;
    }
    .shipping ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .shipping ul li {
        width: 50%;
        margin: 0;
    }
    .shipping ul li img {
        height: 30px;
    }
    .shipping ul li h2 {
        font-size: 14px;
    }
    .shipping ul li span {
        display: block;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .promotion ul {
        margin: 0 20px;
    }
    .promotion ul li {
        padding: 30px 0;
    }
    .promotion ul li img {
        width: 100%;
    }
    .feature-product .product__list {
        margin-top: 30px;
    }
    .form {
        flex-wrap: wrap;
    }
    .discount {
        width: 100%;
    }
    .brands {
        width: 100%;
    }
    .form .discount .text p {
        font-size: 16px;
    }
    .form .discount form input {
        margin-bottom: 20px;
    }
    .form .discount form button {
        margin-bottom: 30px;
        width: 300px;
    }
    .form .brands {
        padding-bottom: 80px;
    }
    .brands__list {
        flex-wrap: wrap;
    }
    .form .brands .brands__item a {
        margin: 0 20px;
    }
    footer {
        flex-direction: column;
    }
    .footer__left,
    .footer__right {
        width: 100%;
    }
    .footer__left {
        height: 40px;
        line-height: 40px;
    }
    .footer__right {
    }
    .footer__right ul {
        justify-content: center;
    }
    .footer__right ul li a {
        margin: 4px;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .product__list {
        margin-left: 113px;
    }
    .product__item {
    }
    .introduce {
        margin-left: -50px;
    }
    .form .brands {
        padding: 0;
    }
    .product__item .buy {
        right: 108px;
    }
    .feature-product .product__item .buy {
        right: 108px;
    }
}

/* Mobile */

@media (max-width: 739px) {
}
