* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
header {
    width: 100%;
    height: 65px;
}

header .container {
    display: flex;
    align-items: center;
    height: 65px;
}

header .logo {
    width: 25%;
}

header .logo a {
    color: #3cb878;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

header .menu {
    width: 60%;
}

header .menu ul {
    display: flex;
}

header .menu ul a {
    color: #3f4853;
    padding: 0 20px;
    text-transform: uppercase;
}

header .menu ul a:hover {
    color: #3cb878;
    font-weight: 600;
}

header .sidebar {
    display: flex;
    margin-left: 80px;
}

header .sidebar a {
    display: block;
    width: 30px;
    margin-right: 20px;
    position: relative;
}

header .sidebar a:first-child span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

/* Slider */

.slider .slider__item {
    width: 100%;
    max-height: 500px;
}

.slider {
    position: relative;
}

.slider__item {
}

.slider__item h2 {
    position: absolute;
    top: 40%;
    left: 15%;
    color: #333;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider__item h2 small {
    display: block;
    letter-spacing: 5px;
    color: #3cb878;
    margin-top: 20px;
}

.slider__item img {
    width: 100%;
    /* max-height: 800px; */
}

/* Best Seller */
.best-seller {
    width: 100%;
    margin-top: 350px;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
}

.product__item {
    width: 20%;
    position: relative;
}

.product__item a {
    color: #333;
    font-size: 18px;
    display: block;
}

.product__item span {
    color: #3cb878;
    display: block;
    margin-top: 10px;
}

.product__item img {
    width: 220px;
}

.product__item button {
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3cb878;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.product__item button:hover {
    background-color: #34a169;
}

.introduce {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
    margin-right: 0px;
}

.introduce h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 30px;
    font-weight: 700;
}

.introduce small {
    color: #3cb878;
    display: block;
    margin-top: 10px;
    font-style: italic;
}

.introduce p {
    color: #888;
    max-width: 200px;
    display: block;
    margin-top: 30px;
}

.product__item:hover img {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product__item:hover .buy {
    display: block;
}

.product__item .buy {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 20px;
    display: none;
}

.product__item .buy a {
    display: block;
    width: 25px;
    height: 25px;
    background: #62c592 url(../img/buy.png) no-repeat;
    margin-bottom: 4px;
}

.product__item .buy a:nth-child(1) {
    background-position: 1px 5px;
}

.product__item .buy a:nth-child(2) {
    background-position: 2px -45px;
}

.product__item .buy a:nth-child(3) {
    background-position: 2px -95px;
}

/* Shipping */
.shipping {
    background-color: #f5f6f9;
    padding: 50px 0;
    margin-top: 60px;
}

.shipping ul {
    display: flex;
}

.shipping ul li {
    width: 25%;
    text-align: center;
    margin: 0 50px;
}

.shipping ul li img {
    height: 40px;
    padding-bottom: 8px;
}

.shipping ul li h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.shipping ul li span {
    color: #888;
    font-size: 16px;
}

/* Promotion */
.promotion {
    background-color: #2e3348;
}

.promotion ul {
    display: flex;
    justify-content: space-between;
}

.promotion ul li {
    width: 30%;
    text-align: center;
    display: block;
    padding: 40px 0;
}

.promotion ul li img {
    width: 80%;
}

/* Feature Product */

.feature-product {
    margin: 60px 0;
}

.feature-product h2 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 30px;
    font-weight: 700;
}

.feature-product small {
    display: block;
    text-align: center;
    color: #3cb878;
    margin-top: 10px;
    font-style: italic;
}

.feature-product .product__list {
    flex-wrap: wrap;
    margin-top: 50px;
}

.feature-product .product__item {
    margin: 20px 0;
}

.feature-product .product__item .buy {
    right: 20px;
}

/* Discount & Brands */

.form {
    display: flex;
    width: 100%;
}

.discount,
.brands {
    min-height: 200px;
    width: 50%;
}

.form .discount {
    background: rgba(46, 51, 72, 0.39) url(../img/bgform.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.form .discount .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form .discount .text h2 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form .discount .text p {
    max-width: 400px;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

.form .discount form input {
    width: 300px;
    padding: 8px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.form .discount form button {
    width: 150px;
    height: 31px;
    border: none;
    border-radius: 2px;
    background-color: #3cb878;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.form .discount form button:hover {
    opacity: 0.9;
}

.form .brands {
    background: #f5f6f9;
}

.form .brands .brands__list {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.form .brands .brands__item a {
    display: block;
    width: 120px;
    height: 130px;
    background: url(../img/brand.png) no-repeat;
    margin: 0 50px;
}

.form .brands .brands__item:nth-child(2) a {
    background-position: -237px;
}

.form .brands .brands__item:nth-child(3) a {
    background-position: -460px;
    width: 135px;
}

.form .brands .brands__item:nth-child(4) a {
    background-position: -700px;
    width: 135px;
}

/* Footer */

footer {
    background-color: #333;
    height: 40px;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 14px;
}

.footer__left,
.footer__right {
    width: 50%;
}

.footer__left {
    text-align: center;
}

.footer__right ul {
    display: flex;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
}

.footer__right ul li a {
    display: block;
    width: 50px;
    height: 30px;
    background: url(../img/payment.png) no-repeat;
    margin: 0 20px;
}

.footer__right ul li:nth-child(2) a {
    background-position: -59px;
}

.footer__right ul li:nth-child(3) a {
    background-position: -118px;
}

.footer__right ul li:nth-child(4) a {
    background-position: -179px;
}

.footer__right ul li:nth-child(5) a {
    background-position: -240px;
}
